#newsbtcEmdypWidget{
padding: 5px;
padding-left: 10px;
text-decoration: none;
color:#eee;
font-weight: bold;
background-color:#295733;
border-radius: 5px;}

a#emdypnewsreader, a#newsbtcwidgetabout{
font-weight: normal;
color:white;}

a#emdypnewsreader:visited, a#newsbtcwidgetabout:visited {
text_decoration:underline;
color:#bbb;}

#emdypnewsreader{
text-decoration: none;
}

a#newsbtcwidgetabout {
font-size: 0.7em;}
